<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="product.dp.io.mapmo">

    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.DIAL_PHONE" />


    <application
        android:name="product.dp.io.mapmo.Core.MainApplication"
        android:allowBackup="true"
        android:icon="@drawable/launchicon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.ActionBar.Transparent">

        <meta-data android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/Google_Aip_Key"/>

        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="@string/DAUM_API_KEY" />
        <meta-data
            android:name="com.kakao.sdk.ClientSecret"
            android:value="@string/KAKAO_CLIENT_SECRET_VALUE" />

        <!--<meta-data-->
            <!--android:name="com.google.android.geo.API_KEY"-->
            <!--android:value="@string/Google_Aip_Key" />-->

        <activity
            android:name="product.dp.io.mapmo.HomeView.MainActivity"
            android:label="#여기요">

        </activity>
        <activity android:name=".HomeView.HomeActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="product.dp.io.mapmo.LockScreen.LockScreenActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="product.dp.io.mapmo.Menu.Login"
            android:screenOrientation="portrait" />
        <activity
            android:name="product.dp.io.mapmo.Menu.SocialSignupActivity"
            android:screenOrientation="portrait" />

        <receiver android:name="product.dp.io.mapmo.LockScreen.BoradcastReceiver.RestartReceiver" />
        <receiver
            android:name="product.dp.io.mapmo.LockScreen.BoradcastReceiver.ScreenReceiver"
            android:process=".remote">
            <intent-filter>
                <action android:name="RestartReceiver.restart" />
            </intent-filter>
        </receiver>

        <service android:name="product.dp.io.mapmo.LockScreen.Service.ScreenService" />

        <activity
            android:name="product.dp.io.mapmo.HomeView.TimeBaseActivity"
            android:launchMode="singleTop">
            <intent-filter>

                <!-- Sets the intent action to view the activity -->
                <action android:name="android.intent.action.VIEW" />
                <!-- Allows the link to be opened from a web browser -->
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- Allows the deep link to be used without specifying the app name -->
                <category android:name="android.intent.category.DEFAULT" />
                <!-- URI mapmemo://deeplink -->
                <data
                    android:host="deeplink"
                    android:scheme="intent" />
                <!-- URI http://www.mapmemo.com -->
                <data
                    android:host="www.mapmemo.com"
                    android:scheme="intent://baemin" />
            </intent-filter>

        </activity>
        <activity
            android:name="product.dp.io.mapmo.HomeView.SettingActivity"
            android:launchMode="singleInstance" />
        <activity
            android:name="product.dp.io.mapmo.HomeView.FAQActivity"
            android:launchMode="standard" />
        <activity
            android:name="product.dp.io.mapmo.HomeView.AccessTermActivity"
            android:launchMode="singleTask" />
        <activity
            android:name="product.dp.io.mapmo.KeywordSearchView.KeywordSearchActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name="product.dp.io.mapmo.AddMemoView.AddMemoActivity" />
        <activity android:name="product.dp.io.mapmo.Menu.MenuActivity" />

        <activity android:name="product.dp.io.mapmo.MemoList.MemoListActivity">
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/kakao_scheme" />
                <data android:host="@string/kakaolink_host" />
            </intent-filter>

        </activity>
        <activity android:name="product.dp.io.mapmo.Shared.SharedActivity"></activity>
    </application>

</manifest>